@charset "UTF-8";

/*

PALETA DE CORES
Verde: #49a09d
Lilás: #5f2c82

*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body, html{
background-color: #5f2c82;
height: 100vh;
width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{

position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
overflow: hidden;/*Tudo que estiver fora da borda fica escondido, ou seja, arredonda o canto superior*/

background-color: white;
width: 250px;
height: 500px;
border-radius: 20px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.308);

transition: width 0.3s, height 0.3s;/*Faz uma tipo uma animação na transição de telas*/
transition-timing-function: ease; /*Suavisa a animação*/

}


section#login > div#imagem{
    display: block;
    background: #5f2c82 url(../imagens/predio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 200px;
    
} 
section#login > div#formulario{
    display: block;
    padding: 10px;
}